.App {
  height: 100vh; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  flex-direction: column;
}

h1, h2 {
  font-weight: normal;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  width: 3.7em;
  height: 3.7em;
  text-align: center;
  line-height: 3.7em;
  border-radius: 1.9em;
  margin-bottom: 1.3em;
  color: white;
  position: relative;
  background: #bbddff;
  border: solid 1px #8abdf0;
}

.journey-planner-container { 
  height: 70vh; 
  display: flex; 
  justify-content: center;
  flex-direction: column;
  padding: 12px;
  width: 50%;
  box-shadow: 1px 6px 1px 0 rgba(0,0,0,.1);
  border-radius: 4px;
  border: solid 1px #f6f6f6;
}

.journey-planner-container h2 {
  font-weight: 400;
  text-align: center;
}

.wrapper-journey-planner {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.result-journey {
  display: inline-block;
  margin-right: 10px;
}

.wrapper-result-journey {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.wrapper-result-journey li::before{
  content: '';
  position: absolute;
  top: 1.65em;
  left: -1em;
  width: 5.5em;
  height: .2em;
  background: dodgerblue;
  z-index: -1;
}

.active-circle {
  background: dodgerblue;
  border: solid 1px #1873cc;
  font-weight: 500;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  background-image: linear-gradient(to top left,#4ca64c,#008000);
  color: #fff !important;
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  border: 0;
  border-radius: 2rem;
  white-space: nowrap;
  padding: 1rem 1.5rem;
  line-height: 1.4;
  position: relative;
  text-align: center;
  -webkit-transition: 70ms;
  transition: 70ms;
  position: relative;
  cursor: pointer;
  font-size: 14px;
}

button:hover{
  background-image: linear-gradient(to top left,#008000, #4ca64c );
}
